services:
  mysql:
    image: mysql:8.0
    container_name: fitness-mysql
    environment:
      MYSQL_ROOT_PASSWORD: 047206
      MYSQL_DATABASE: fitness_app
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - fitness-network
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -uroot -p$047206 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10

  kafka:
    image: apache/kafka:latest
    container_name: broker
    environment:
        KAFKA_NODE_ID: 1
        KAFKA_PROCESS_ROLES: broker,controller
        KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
        KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
        KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        KAFKA_NUM_PARTITIONS: 3
    volumes:
      - kafka-data:/var/lib/kafka/data
    networks:
      - fitness-network

  fitness-app:
    image: nikolayangelov90/fitnessapp
    container_name: fitness-app
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/fitness_app
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 047206
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - fitness-network

  fitness-reports-svc:
    image: nikolayangelov90/fitnessreportsvc
    container_name: fitness-reports-svc
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/fitness-report-svc
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 047206
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - fitness-network

networks:
  fitness-network:

volumes:
  mysql-data:
  kafka-data:
